:root {
    --color1: rgb(25, 25, 25);
    --color2: rgb(250, 250, 250);
    --color3: #454cff;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0; 
    padding: 5px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

p {
    font-size: 0.8rem;
}

body {
    min-height: 100vh;
    background: var(--color1);
    color: var(--color2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}






